####
#This is an example config file for mrmv. I suggest cp'ing this to /home/youraccount/.mrmv and modifying each variable to your preferecnes.
####

#Where you have the scripts sitting (probably your home dir, /home/user/mrmv)
cur='/home/"$(id -un)"/mrmv'

#the directory you intend transferred files to go (make sure you setup SSH keys!!)
mvto='example@example.com:/raid/'

#your rsync options
rsyncops='-av --stats --progress'

#a unique name identifying the remote host your sending files to (doesn't have to be the actual hostname)
hostname='whyte'

#where the log files will be stored. meant for a webdir for later viewing (possible future feature)
webdir="/home/"$(id -un)"/.mrmvlogs"  #create this if not already made

#where your content exists on the local machine
stordir='/home/"$(id -un)"/files'

#ssh port of the remote server
port='22'

#notification email (tells you whether success or fail), can have multiple separated by a comma
email='example@gmail.com'

#Tags the email in the subject line (e.x. Subject: dl-notification: STuff failed!)
emtag='dl-notification:'

